/* CSS declarations go here */

.banner {
  margin: 0 auto;
	text-align: center;
}

.main-container {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 70%;
			height: 70%;
			padding: 20px;  
			background: #777;
			color: white;
			text-align: center;
			box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.reward-btn {
	margin: 0 auto 20px auto;
	display: block;
	height: 100px;
}

.submit-btn {
	margin: 0 auto;
}
